<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">
 
    <context:property-placeholder
        location="classpath:properties/application-${spring.profiles.active}.properties"
        ignore-unresolvable="true" />
        
	<bean id="dataSource" class="com.landedexperts.letlock.filetransfer.backend.database.LetLockPGDataSource">
		<!-- <property name="serverName" value="${db.serverName}"/>
		<property name="portNumber" value="${db.portNumber}"/>
		<property name="databaseName" value="${db.databaseName}"/>
		<property name="user" value="${db.user}"/>
		<property name="password" value="${db.password}"/>-->
	</bean>


	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="baseMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" abstract="true" lazy-init="true">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>

	<bean id="userMapper" parent="baseMapper">
		<property name="mapperInterface" value="com.landedexperts.letlock.filetransfer.backend.database.mybatis.mapper.UserMapper"/>
	</bean>

	<bean id="orderMapper" parent="baseMapper">
		<property name="mapperInterface" value="com.landedexperts.letlock.filetransfer.backend.database.mybatis.mapper.OrderMapper"/>
	</bean>

	<bean id="orderDetailMapper" parent="baseMapper">
		<property name="mapperInterface" value="com.landedexperts.letlock.filetransfer.backend.database.mybatis.mapper.OrderLineItemMapper"/>
	</bean>

	<bean id="paymentMapper" parent="baseMapper">
		<property name="mapperInterface" value="com.landedexperts.letlock.filetransfer.backend.database.mybatis.mapper.PaymentMapper"/>
	</bean>

	<bean id="fileTransferMapper" parent="baseMapper">
		<property name="mapperInterface" value="com.landedexperts.letlock.filetransfer.backend.database.mybatis.mapper.FileTransferMapper"/>
	</bean>

	<bean id="fileMapper" parent="baseMapper">
		<property name="mapperInterface" value="com.landedexperts.letlock.filetransfer.backend.database.mybatis.mapper.FileMapper"/>
	</bean>
	

</beans>